/* Скрывает кнопку прокрутки «Наверх». */
html[data-vkify-hide_scroll_top] #stl_left,
html[data-vkify-hide_scroll_top] .stl_left,
html[data-vkify-hide_scroll_top] #stl_side,
html[data-vkify-hide_scroll_top] #stl_bg,
html[data-vkify-hide_scroll_top] #stl_text{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}