/* Скрывает блоки рекомендуемого контента (группы, друзья, паблики). */
/* Лента */
html[data-vkify-hide_recommendations] article div[data-testid="channels-recommendation-block"],
html[data-vkify-hide_recommendations] article:has(> div > section[data-testid="groups-recommendation-block"]),
/* Игры */
html[data-vkify-hide_recommendations] section[data-testid="catalog-section-social_recommend"],
html[data-vkify-hide_recommendations] a[data-testid="catalog-section-promo_banner"],
/* Маркет */
html[data-vkify-hide_recommendations] section[data-testid="market-catalog-block"]:has([title="Может заинтересовать"]),
/* Звонки */
html[data-vkify-hide_recommendations] section[class*="vkitBanner"] {
  display: none !important;
}
/* Ссылка-баннер в выпадающем меню профиля */
html[data-vkify-hide_recommendations] a[class*="ImageBanner-module_banner"],
html[data-vkify-hide_recommendations] div[class*="ImageBanner-module_tooltip"],
html[data-vkify-hide_recommendations] div[class*="ImageBanner-module_closeButton"],
html[data-vkify-hide_recommendations] a[class*="ImageBanner-module_banner"][href*="trk.mail.ru"] {
  display: none !important;
}
/* Баннер Яндекс Браузера в сообщениях */
html[data-vkify-hide_recommendations]
:is(
  .ConversationsBar.ConvoList__conversationsBar,
  .ConvoList__conversationsBar,
  [class^="ConversationsBar"],
  [class*=" ConversationsBar"],
  div:has(> button[aria-label="Закрыть"].ConversationsBar__close)
) {
  display: none !important;
}


/* Скрывает отступы под блокома, там где это необходимо */
/* Игры */
html[data-vkify-hide_recommendations] section[data-testid="catalog-section-social_recommend"] + [class*="separator"],
html[data-vkify-hide_recommendations] a[data-testid="catalog-section-promo_banner"] + *,
/* Маркет */
html[data-vkify-hide_recommendations] section[data-testid="market-catalog-block"]:has([title="Может заинтересовать"]) + [class*="separator"],
/* Звонки */
html[data-vkify-hide_recommendations] section[class*="vkitBanner"] + div[class*="Spacing"] {
  display: none !important;
}